@import url("https://fonts.googleapis.com/css2?family=Bayon&family=Chango&family=Koulen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Palanquin:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1530;
}

.about {
  padding: 15px;
}

h1 {
  color: #b49900;
  text-transform: uppercase;
  font-family: "Chango", cursive;
  text-align: end;
  margin-top: -20px;
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  color: #ffff;
  font-family: "Palanquin", sans-serif;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container-i-drum {
  margin-bottom: 40px;
}

.i-drum {
  margin-top: 40px;
  width: 300px;
  position: absolute;
  border: 1px solid #b49900;
  box-shadow: 4px 2px 8px 4px #1a1530;
  transform: rotate(-7deg);
}

.form-drum {
  background-color: #b49900;
  width: 260px;
  height: 220px;
  margin-left: 30px;
}

.i-drum {
  animation: movement 5.5s linear infinite;
}

/* @keyframes movement {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
} */

.i-sofa {
  margin-top: -280px;
  margin-left: 50px;
  width: 250px;
  position: absolute;
  border: 1px solid #005b94;
  box-shadow: 4px 2px 8px 4px #1a1530;
  transform: rotate(3deg);
}

.form-sofa {
  background-color: #005b94;
  margin-top: 30px;
  width: 240px;
  height: 330px;
  margin-left: 200px;
  transform: rotate(3deg);
}

@media only screen and (min-width: 720px) {
  h1 {
    margin-top: -20px;
    font-size: 48px;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
  }

  .about-img {
    justify-content: space-between;
  }

  .i-drum {
    margin-top: 40px;
    width: 360px;
    margin-left: -10px;
  }

  .form-drum {
    width: 360px;
    height: 260px;
    margin-left: 10px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 56px;
    margin-right: 50px;
  }

  p {
    font-size: 26px;
  }

  .i-drum {
    width: 480px;
    margin-top: 50px;
  }

  .form {
    margin-left: 110px;
  }

  .form-drum {
    width: 480px;
    height: 360px;
  }

  .i-sofa {
    margin-top: -400px;
    margin-left: 50px;
    width: 340px;
  }

  .form-sofa {
    width: 340px;
    height: 480px;
  }
}
